<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number game</h1>
        <h2 id="gameOverTitle">Game Over</h2>

        <h3 id="resMessage">Result message</h3>
        <h3>
            <a id="playAgain">Click to play</a>
        </h3>
        <h3>
            <a id="homeLink">Go home</a>
        </h3>
    </div>
    <footer id="footerId">
        <p>Niles87</p>
    </footer>
</body>
</html>